<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gacha &middot; INSANITY-PRIME</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
    <audio src="/assets/music/gacha.mp3" autoplay loop></audio>
    This is the gacha. Pull 1 or 10 weapons at a time for coins!<br>
    This gacha supplies: not as bad as you, decent, fine, rare, epic, legendary and mythic weapons.<br>
    <a href="/gachagood1">Pull 1: 1500 coins</a><br>
    <a href="/gachagood10">Pull 10: 10000 coins</a><br>
    <a href="/spiralf3">Back</a><br>
</body>
</html>
