<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial 1 &middot; INSANITY-PRIME</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
    <audio src="/assets/music/trial_i.mp3" autoplay loop></audio>
    {{ newareareward }}<br>
    The first Trial of many!<br>
    THE DEFENSE TRAIL!<br>
    Defeat the Defense Trial Master<br>
    <a href="/fight">Fight Him!</a><br>
    <a href="/ww3">Back</a>
</body>
</html>
